@keyframes top {
    0%,100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
        transform: translateY(-1rem);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
}
.animation-top {
    animation: top 1s infinite;
}
