.fa-facebook {
    color: #3b5998;
    background: #fff;
    border-radius: 999px;
}
.fa-x-twitter {
    // text-white bg-black
    color:white;
    background: #000;
}
.fa-telegram {
    color: #0088CC;
    background: #fff;
    border-radius: 999px;
    padding: 0 1px;
}
.site {
    @apply text-blue-600 bg-white rounded-full;
}
.fa-instagram {
    background: linear-gradient(to top right,yellow,red,deeppink,darkblue);
    // px-1 p-0.5 rounded-lg
    border-radius: .5rem;
    padding: 0.05rem 0.2rem;
}
